.sh_border_radius{
    @if $kanban_box_style == 'style_1' {border-radius: 10px !important;}
    @if $kanban_box_style == 'style_2' {border-radius: 1.5rem !important; }
    @if $kanban_box_style == 'style_3' { border-radius: 0rem!important;}
    @if $kanban_box_style == 'style_4' { border-radius: 0rem 1rem!important;}
}
.o_action_manager{
    .o_form_view{
        .o_notebook_content{
            .o_kanban_renderer{
                background-color: transparent !important
            }
            .o_kanban_record{
                margin: 0 !important;
                @extend .sh_border_radius;
                .o_kanban_aside_full{
                    @extend .sh_border_radius;
                    .o_kanban_content{
                        .text-bg-primary{
                            @extend .sh_border_radius;
                        }
                    }
                    .o_kanban_image_fill{
                        img{
                            @extend .sh_border_radius;
                        }
                    }
                }    
            }
        }
    }
    .o_kanban_view{
        .o_content{
            .o_kanban_renderer{
                background-color: $body_background_color !important;border-top: 0 !important;
                .o_kanban_record{
                    @extend .sh_border_radius;
                    &:not(:empty){
                        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);background-color: #fff;padding: 1.2rem;margin: 10px !important;
                        @include media-breakpoint-down(md) {
                            margin: 10px 0px !important;
                        }
                    }
                    .o_kanban_aside_full{
                        @extend .sh_border_radius;
                        .o_kanban_content{
                            .text-bg-primary{
                                @extend .sh_border_radius;
                            }
                        }
                        .o_kanban_image_fill{
                            img{
                                @extend .sh_border_radius;
                            }
                        }
                    }                         
                }
            }
            .oe_kanban_color_0{
                @extend .sh_border_radius;
            }
        }
    }
}