@if $horizontal_tab_style =='style_1' {
	.o_notebook {
		.nav.nav-tabs {
			.nav-item {
				.nav-link {color: #74777b;padding: 0.25em 0 0.5em;transition: color 0.2s;border-color: transparent;position: relative;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 1.5;padding: 10px 15px;
					&:after {content: '';position: absolute;bottom: 0;left: 0;width: 100%;height: 3px;background: $primaryColor;transition: transform 0.3s;transform: scale(0);}
					&:active {
						&::after {transform: scale(1);}
						color: $primaryColor;
					}
				}
				.nav-link.active {
					&::after {transform: scale(1);}
					color: $primaryColor;
				}
			}
		}
	}
}
@if $horizontal_tab_style =='style_2' {
.o_notebook_headers {overflow: hidden;}
	.o_notebook {
		.nav.nav-tabs {
			.nav-item {
				.nav-link.active {color: #FFFFFF;
					&:before {top: 0;}
					&:after {top: 0;}
				}
				.nav-link {border:0; display: block;font-weight: 600;color: #444;padding: 10px 15px;background: transparent !important;margin-right: 0;border-radius: 0;overflow: hidden;position: relative;z-index: 0;transition: all 0.5s ease 0s;
					&:before {top: 0;content: "";width: 100%;height: 2px;background: $primaryColor;position: absolute;top: 95%;left: 0;transition: all 0.3s ease 0s;}
					&:after {top: 0;content: "";width: 100%;height: 100%;background: $primaryColor;position: absolute;top: 100%;left: 0;z-index: -1;transition: all 0.3s ease 0s;}
					&:hover{border-color: transparent !important;}
				}
			}
		}
	}
}
@if $horizontal_tab_style =='style_3' {
	.o_notebook {
		.nav.nav-tabs {
			.nav-item {
				.nav-link {border-radius: 0px;border-color: #dee2e6 #dee2e6;position: relative; color:#74777b;
					&:before {content: "";position: absolute;left: 0;right: 0;top: 0;background: $primaryColor;height: 3px;transition: transform 0.5s;transform-origin: right top;transform: scale(0, 1);}
					&.active {color: $primaryColor;
						&:before {transform-origin: left top;transform: scale(1, 1);}
					}
				}
			}
			.nav-item.show {
				.nav-link {background: transparent;}
			}
		}
	}
}
@if $horizontal_tab_style =='style_4' {
	.o_notebook {
		.nav.nav-tabs {
			.nav-link {border: 0px !important;background: #eee;display: block;float: right;padding: 10px 15px 8px;margin-right: 10px;z-index: 0;position: relative;cursor: pointer;color: #777;text-transform: uppercase;transition: all 250ms ease;
				&.active , &:active {background: $primaryColor;color: #fff;}
			}
		}
	}
}
@if $horizontal_tab_style =='style_5' {
	.o_notebook {
		.nav.nav-tabs {
			.nav-link {color:#74777b;display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;border-radius: 0px;margin-right: 3px;border-color: #dee2e6 #dee2e6;padding: 10px 15px;
				&:before {content: "";position: absolute;z-index: -1;top: 100%;bottom: 0;left: 0;background: $primaryColor;width: 3px;-webkit-transition-property: bottom, top;transition-property: bottom, top;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
				&:focus, &:active {color: $primaryColor;
					&:before {bottom: 0;top: 0;border-bottom: 0px !important;}
				}
			}
			.nav-link.active {border-bottom: 0px !important;color: $primaryColor;
				&:before {bottom: 0;top: 0;border-bottom: 0px !important;}
			}
		}
	}
}
@if $horizontal_tab_style =='style_6' {c
	.o_notebook {
		.nav.nav-tabs {
			.nav-link {transition: color 0.2s;color:#74777b;border-color: #dee2e6 #dee2e6 !important;display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.5s;transition-duration: 0.5s;border-radius: 0px 15px 0px 15px;
				&:focus, &:active, &.active {color: $primaryColor;border-radius: 0px 15px 0px 15px;border-color: $primaryColor !important;}
			}
			.nav-item {margin: 0;}
		}
	}
}
@if $horizontal_tab_style =='style_7' {
	.o_notebook {
		.nav.nav-tabs {
			.nav-link {transition: color 0.2s;border-radius: 0;border: 1px solid #ced4da;text-transform: capitalize;display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.5s;transition-duration: 0.5s;
				&:focus, &:active, &.active {color: $primaryColor;border-top: 2px solid $primaryColor !important;border-radius: 0;}
			}
		}
	}
}