
.sh_language_selector{
    .dropdown-menu{
        .list-group-item{
            align-items: center;
            .sh_lang_flag{
                height: 1.5rem;margin-right: 10px;
            }
        } 
    }
}
.sh_language_selector{
    .o-mail-ActivityMenu{
        padding: 0px ;box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
        min-height: auto;width: auto;
        .o-mail-ActivityGroup{
            align-items: center;border: 1px solid transparent;
            .sh_lang_flag{
                height:25px;width: 25px;border-radius: 20px;margin-right: 5px;
            }
                &:hover{
                background-color: transparent !important;border-radius: 20px;color: $primaryColor;
            }
        }
    }
}