/* Quick Bookmark Menu */
$primaryColor: $primaryColor;
.o_menu_systray {
	.o_menu_systray {
		.sh_bookmark {
			.sh_wqm_remove_quick_menu_cls {
				i {
					&:hover {
						color: $primaryColor;
					}
				}
			}
		}
	}
}
.o_main_navbar {
	.o_menu_systray {
		.sh_bookmarked_icon {
			position: relative;
		}
		.sh_bookmark_icon {
			position: relative;color: $primaryColor;
		}
		.sh_bookmark_span {
			position: absolute;top: 40px;background: #ddd;padding: 20px;z-index: 2;
		}
		.sh_bookmark_dropdown_view {
			position: absolute;top: 40px;background: #fff;padding: 20px !important;z-index: 2;max-height: 500PX;overflow: auto;
		}
		.sh_bookmark {
			.dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls {
				min-width: 300px !important;max-width: 300px;transform: none !important;transition: all .4s;left: auto !important;max-height: 70vh;overflow: auto;transform-origin: 100% 0px;position: absolute;top: 100% !important;right: 0px !important;bottom: auto;left: auto !important;min-height: auto;
			}
			.sh_wqm_quick_menu_submenu_list_cls {
				.sh_bookmark_search_div {
					padding: 5px 10px;
					.sh_bookmark_search.form-control {
						&:focus,&:hover {
							border: 1px solid $primaryColor !important;box-shadow: 0 5px 10px 0 rgba(62, 57, 107, 0.20);transition: all .5s;
						}
					}
				}
				a.dropdown-item {
					padding: 5px 15px;
					span.fa {
						margin-right: 8px;
					}
					&:hover {
						color: $primaryColor;

						svg {
							fill: $primaryColor;
						}
					}
					svg {
						margin-right: 8px;fill: #495057;
					}
				}
				.dropdown-item {
					.sh_wqm_remove_quick_menu_cls {
						opacity: 0;transition: all .3s;
					}
					&:hover {
						.sh_wqm_remove_quick_menu_cls {
							opacity: 1;
						}
					}
				}
			}
			.sh_bookmarked_icon {
				$primaryColor: $primaryColor;
				.o_menu_systray {
					.o_menu_systray {
						.sh_bookmark {
							.sh_wqm_remove_quick_menu_cls {
								i {
									&:hover {
										color: $primaryColor;
									}
								}
							}
						}
					}
				}
				.o_rtl {
					.o_main_navbar {
						.o_menu_systray {
							.sh_bookmark {
								.sh_wqm_quick_menu_submenu_list_cls {
									.dropdown-item {
										.sh_wqm_remove_quick_menu_cls {
											float: right !important;
										}

										.sh_pin_bkmrk {
											margin-right: 12px !important;margin-left: 0px !important;
										}
									}
								}
							}
						}
					}
				}


				@media only screen and (max-width: 992px) {
					.o_main_navbar {
						.o_menu_systray {
							.sh_bookmark {
								.sh_wqm_quick_menu_submenu_list_cls {
									.dropdown-item {
										.sh_wqm_remove_quick_menu_cls {
											opacity: 1 !important;
										}
									}
								}
							}
						}
					}
				}

				@media only screen and (max-width: 767.98px) {
					.o_main_navbar {
						.o_menu_systray {
							.sh_bookmark {
								position: unset;
							}
						}
					}

					.o_main_navbar {
						.o_menu_systray {
							.sh_bookmark {
								&.show {
									.dropdown-menu {
										&.dropdown-menu-right {
											&.sh_wqm_quick_menu_submenu_list_cls {
												&.show {
													left: 0 !important;
													right: auto !important;
												}
											}
										}
									}
								}
							}
						}
					}
				}


				display: none;
			}
		}

		.sh_bookmark.active {
			.dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls {
				transform: scale(1);
				transition: all .4s;
				max-height: 70vh;
				overflow: auto;
				transform-origin: 100% 0px;
			}

			.sh_bookmarked_icon {
				display: block;
				color: $primaryColor;
			}

			.sh_bookmark_icon {
				display: none;
			}
		}

		.sh_bookmark_menu_list.show {
			.dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls {
				.dropdown-item {
					&:hover {
						color: $primaryColor;
					}
				}

				border: 1px solid #dee2e6;
			}
		}
	}
}

.o_rtl {
	.o_main_navbar {
		.o_menu_systray {
			.sh_bookmark {
				.sh_wqm_quick_menu_submenu_list_cls {
					.dropdown-item {
						.sh_wqm_remove_quick_menu_cls {
							float: right !important;
						}

						.sh_pin_bkmrk {
							margin-right: 12px !important;
							margin-left: 0px !important;
						}
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 992px) {
	.o_main_navbar {
		.o_menu_systray {
			.sh_bookmark {
				.sh_wqm_quick_menu_submenu_list_cls {
					.dropdown-item {
						.sh_wqm_remove_quick_menu_cls {
							opacity: 1 !important;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767.98px) {
	.o_main_navbar {
		.o_menu_systray {
			.sh_bookmark {
				position: unset;
			}
		}
	}

	.o_main_navbar {
		.o_menu_systray {
			.sh_bookmark {
				&.show {
					.dropdown-menu {
						&.dropdown-menu-right {
							&.sh_wqm_quick_menu_submenu_list_cls {
								&.show {
									left: 0 !important;
									right: auto !important;
								}
							}
						}
					}
				}
			}
		}
	}
}