<?xml version="1.0" encoding="UTF-8"?>
<templates xml:space="preserve">

	<t t-name="ChildLink" owl="1">
		
		<t t-if="!sub2_sections.length">
			<t t-set="depth" t-value="1"/>
            <DropdownItem
                    onSelected="() => this.onNavBarDropdownItemSelection(sub_section)"
                    attrs="{ href: getMenuItemHref(sub_section), 'data-menu-xmlid': sub_section.xmlid, 'data-section': sub_section.id }">
					<span>
						<t t-esc="sub_section.name"/>
					</span>
				</DropdownItem>
			
		</t>
        <t t-else="">
			<a class="sh_dropdown_toggle dropdown-item dropdown-toggle o_menu_header_lvl_3 p-0"
               t-on-click.stop="OnClickDropdown">
				<span class="fa fa-circle-thin"></span>
                <span>
					<t t-esc="sub_section.name"/>
				</span>
			</a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
				<t t-foreach="sub2_sections" t-as="sub2_section" t-key="sub2_section.id">
					<t t-set="sub2_sections" t-value="currentMenuAppSections(sub2_section.id)"/>
                    <t t-if="sub2_section.length">
						<t t-call="ChildLink">
							<t t-set="sub2_sections" t-value="sub2_sections"/></t>
					</t>
                    <t t-else="">
						<div t-attf-class="dropdown-header">
								<DropdownItem
                                        attrs="{ href: getMenuItemHref(sub2_section), 'data-menu-xmlid': sub2_section.xmlid, 'data-section': sub2_section.id }"
                                        onSelected="() => this.onNavBarDropdownItemSelection(sub2_section)">
										<span class="fa fa-circle-thin"></span>

                                    <span>
										<t t-esc="sub2_section.name"/>
									</span>
								</DropdownItem>
						</div>
					</t>
				</t>
			</ul>
		</t> 

	</t>

	<t t-name="sh.NavBar.AppsMenu" owl="1">
		<t t-if="ui.isSmall">
		<t t-log="'Dabhi Harpal',ui.isSmall"/>
		  <a href="/odoo" class="o_menu_toggle border-0" t-att-class="{'hasImage': currentApp?.webIconData}" accesskey="h"
			 t-ref="menuApps" t-on-click.prevent="_openAppMenuSidebar">
			<t t-call="web.NavBar.AppsMenu.Sidebar"/>
		  </a>
		</t>
		<t t-else="">
		<t t-log="'else harpal dabhi'"/>
			<a style="z-index:1111;display:none;" id="js_bar_toggle_btn_mobile" t-on-click="_click_js_bar_toggle_btn_mobile" class="">
				<i class="fa fa-bars" id="toggle_bar" t-on-click="_click_toggle_bar"/>
			</a>
			<div class="blur_div blur_toggle" t-on-click="_click_blur_div"/>
			<div class="o-dropdown o_navbar_apps_menu sh_backmate_theme_appmenu_div show o-dropdown--no-caret dropdown p-0 border-0">
			<div role="menu" class="o-dropdown--menu dropdown-menu d-block"
				 style="position: fixed; top: 54.5px; left: 1px;"
				 t-on-mouseenter="onMouseenter_sh_backmate_theme_appmenu_div"
				 t-on-mouseleave="onMouseleave_sh_backmate_theme_appmenu_div">
        	<div>
			<Dropdown menuClass="'o_navbar_apps_menu sh_backmate_theme_appmenu_div p-0 border-0'"
					  t-on-mouseenter="onMouseenter_sh_backmate_theme_appmenu_div"
					  t-on-mouseleave="onMouseleave_sh_backmate_theme_appmenu_div">
						<!-- <t t-set-slot="toggler">
				</t> -->
				<div class="logo"
					 style="width: 100%;display: flex;max-width: 100%;align-items: center;margin-top: 20px;">
					<img t-attf-src="/web/image?model=res.company&amp;field=company_name_logo&amp;id={{get_current_company()}}"
						 id="company_logo"
						 style="margin-left: 10px;height: 30px;width: 30px;max-width: 30px;margin-right: 19px;"/>
					<img class="img"
						 t-attf-src="/web/image?model=res.company&amp;field=logo&amp;id={{get_current_company()}}"
						 style="height: 3rem;padding: 10px 0;width: 55%;padding-left: 0;" id="company_name_logo"/>
					<span class="icon-top_hide fa fa-toggle-on" id="hide_top_bar" t-on-click="_click_hide_top_bar"
						  style="margin-left: 25px;margin-top: 0px; font-size: 20px;"/>
					<span class="icon-top_show fa fa-toggle-off" id="show_top_bar" t-on-click="_click_show_top_bar"
						  style="margin-left: 25px;margin-top: 0px;font-size: 20px;"/>
				</div>
				<t class="o_app" t-foreach="apps" t-as="app" t-key="app.id" t-on-click="_click_o_app">

				<t t-set="app_icon" t-value="getXmlID(app.id)"/>
					<t t-set="icon_style" t-value="getIconStyle()"/>

					<t t-if="currentMenuAppSections(app.id).length">
					<t t-set="sections" t-value="currentMenuAppSections(app.id)"/>
						<div class="sh_dropdown_div cssmenu">
						<span t-key="app.id"
							  class="sh_dropdown_toggle ssss dropdown-item child_app o_app2 p-0 m-0"
							  payload="app" t-on-mouseenter="onMouseenter_o_app2" t-on-click.stop="OnClickDropdown">
							<t t-set="app_id" t-value="app.id"/>
							<DropdownItem attrs="{ href: getMenuItemHref(app), 'data-menu-xmlid': app.xmlid, 'data-section': app.id }" onSelected="(ev) => this.onNavBarDropdownMenuSelection(ev,app)">
								<t t-if="icon_style  == 'standard'">
									<img class="img" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id={{app_id}}"
										 t-att-title="app.name" t-att-alt="app.name"/>
								</t>
								<t t-elif="icon_style  == 'line_icon'">
									<t t-set="app_cls_name" t-value="getAppClassName(app)"/>
									<span t-attf-class="sh-{{app_cls_name}} sh_fa_icon"></span>
								</t>
								<t t-elif="icon_style  == 'three_d'">
									<t t-set="app_cls_name" t-value="getAppClassName(app)"/>
									<img class="img" t-attf-src="/sh_backmate_theme_adv/static/src/app_icon/3d_icons/{{app_cls_name}}.png"
										 t-att-title="app.name" t-att-alt="app.name"/>
								</t>
								<t t-elif="icon_style  == 'dual_tone'">
									<t t-set="app_cls_name" t-value="getAppClassName(app)"/>
									<span t-attf-class="sh-{{app_cls_name}}-dt sh_fa_icon">
										<span class="path1"></span>
										<span class="path2"></span>
															</span>
								</t>
								<t t-elif="icon_style  == 'glass_icon'">
									<t t-set="app_cls_name" t-value="getAppClassName(app)"/>
									<img class="img"
										 t-attf-src="/sh_backmate_theme_adv/static/src/app_icon/glass_icons/{{app_cls_name}}.png"
										 t-att-title="app.name" t-att-alt="app.name"/>
								</t>
								<t t-elif="icon_style  == 'light_icon'">
									<t t-set="app_cls_name" t-value="getAppClassName(app)"/>
									<span t-attf-class="sh-{{app_cls_name}}-l sh_fa_icon"></span>
								</t>
								<span>
									<t t-esc="app.name" t-on-click="OnClickDropdown"/>
								</span>
								</DropdownItem>
						</span>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<t t-foreach="sections" t-as="section" t-key="section.id">
								<t t-set="sub_sections" t-value="currentMenuAppSections(section.id)"/>
								<t t-if="!sub_sections.length">
									<t t-set="depth" t-value="1"/>
									<div class="dropdown-header dropdown-item o_menu_header_lvl_1">
										 <DropdownItem
												 attrs="{ href: getMenuItemHref(section), 'data-menu-xmlid': section.xmlid, 'data-section': section.id }"
												 onSelected="() => this.onNavBarDropdownItemSelection(section)">
												<span class="fa fa-circle-thin"></span>
											 <span>
													<t t-esc="section.name"/>
												</span>
										</DropdownItem>
									</div>
								</t>
								<t t-else="">
									<div t-attf-class="dropdown-header o_menu_header_lvl_1">
										<div class="sh_icon_text">
											<span class="fa fa-circle-thin"></span>
											<span>
												<t t-esc="section.name"/>
											</span>
										</div>
									</div>
									<t t-foreach="sub_sections" t-as="sub_section" t-key="sub_section.id">
										<t t-set="sub2_sections" t-value="currentMenuAppSections(sub_section.id)"/>
										<div class="dropdown-header o_menu_header_lvl_2">
											<t t-if="sub2_sections.length">
												<t t-call="ChildLink">
													<t t-set="sub2_sections" t-value="sub2_sections"></t>
												</t>
											</t>
											<t t-else="">
												 <DropdownItem
														 attrs="{ href: getMenuItemHref(sub_section), 'data-menu-xmlid': sub_section.xmlid, 'data-section': sub_section.id }"
														 onSelected="() => this.onNavBarDropdownItemSelection(sub_section)">
													<span class="fa fa-circle-thin"></span>
													 <span>
														<t t-esc="sub_section.name"/>
													</span>

												</DropdownItem>
											</t>
										</div>
									</t>


								</t>
							</t>
						</ul>

					</div>
				</t>
					<t t-else="">
					<div class="cssmenu">

							<t t-set="app_id" t-value="app.id"/>
						<span class="dropdown-item o_app direct_menu" t-on-click="_click_o_app" payload="app">

								<a t-att-href="getMenuItemHref(app)">

									<t t-if="icon_style  == 'standard'">
										<img class="img"
											 t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id={{app_id}}"
											 t-att-title="app.name" t-att-alt="app.name"/>
									</t>
									<t t-elif="icon_style  == 'line_icon'">
										<t t-set="app_cls_name" t-value="getAppClassName(app)"/>
										<span t-attf-class="sh-{{app_cls_name}} sh_fa_icon"></span>
									</t>
									<t t-elif="icon_style  == 'three_d'">
										<t t-set="app_cls_name" t-value="getAppClassName(app)"/>
										<img class="img threed_icon"
											 t-attf-src="sh_backmate_theme_adv/static/src/app_icon/3d_icons/{{app_cls_name}}.png"
											 t-att-title="app.name" t-att-alt="app.name"/>
									</t>
									<t t-elif="icon_style  == 'dual_tone'">
										<t t-set="app_cls_name" t-value="getAppClassName(app)"/>
										<span t-attf-class="sh-{{app_cls_name}}-dt sh_fa_icon">
											<span class="path1"></span>
											<span class="path2"></span>
										</span>
									</t>
									<t t-elif="icon_style  == 'glass_icon'">
										<t t-set="app_cls_name" t-value="getAppClassName(app)"/>
										<img class="img glass_icon"
											 t-attf-src="sh_backmate_theme_adv/static/src/app_icon/glass_icons/{{app_cls_name}}.png"
											 t-att-title="app.name" t-att-alt="app.name"/>
									</t>
									<t t-elif="icon_style  == 'light_icon'">
									<t t-set="app_cls_name" t-value="getAppClassName(app)"/>
										<span t-attf-class="sh-{{app_cls_name}}-l sh_fa_icon"></span>
									</t>
									<span>
										<t t-esc="app.name"/>
									</span>

								</a>
							</span>
						<!-- </MenuItem> -->
					</div>
				</t>


			</t>
			</Dropdown>
		</div>
		</div>
		</div>
		</t>
	</t>

    <t t-name="web.NavBar" t-inherit="web.NavBar" t-inherit-mode="extension" owl="1">
		<xpath expr="//nav[hasclass('o_main_navbar')]" position="after">
			<!-- MULTI TAB START -->
            <div class="multi_tab_section"/>
			<!-- MULTI TAB END -->
		</xpath>
        <xpath expr="//nav[hasclass('o_main_navbar')]" position="replace">
			<t t-set="theme_stl" t-value="getThemeStyle()"/>
			<t t-if="theme_stl == 'style_3'">
				<nav class="o_main_navbar d-print-none" data-command-category="disabled">
					<t t-call="web.NavBar.AppsMenu">
					  <t t-set="apps" t-value="menuService.getApps()" />
					</t>
					<DropdownItem
					  t-if="!ui.isSmall and currentApp"
					  t-esc="currentApp.name"
					  class="'o_menu_brand d-flex'"
					  onSelected="() => this.onNavBarDropdownItemSelection(currentApp)"
					  attrs="{ href: getMenuItemHref(currentApp), 'data-menu-xmlid': currentApp.xmlid, 'data-section': currentApp.id }"
					/>
					<div class="o_navbar_breadcrumbs d-contents"/>
					<t t-if="!ui.isSmall">
					  <t t-if="currentAppSections.length" t-call="web.NavBar.SectionsMenu">
						<t t-set="sections" t-value="currentAppSections" />
					  </t>
					</t>
					<div class="o_menu_systray d-flex flex-shrink-0 ms-auto" role="menu">
					  <t t-foreach="systrayItems" t-as="item" t-key="item.key">
						<div t-att-data-index="item.index"/>
						<ErrorHandler onError="error => this.handleItemError(error, item)">
							<t t-component="item.Component" t-props="item.props"/>
						</ErrorHandler>
					  </t>
					</div>
			  </nav>
			</t>
			<t t-else="">
            	<nav class="o_main_navbar" data-command-category="navbar">

                <t t-call="sh.NavBar.AppsMenu">
                    <t t-set="apps" t-value="menuService.getApps()"/>
                </t>

                <DropdownItem
                        t-if="currentApp"
                        attrs="{ href: getMenuItemHref(currentApp), 'data-menu-xmlid': currentApp.xmlid, 'data-section': currentApp.id }"
                        t-esc="currentApp.name"
                        class="'o_menu_brand d-none d-md-block'"
                        onSelected="() => this.onNavBarDropdownItemSelection(currentApp)"
                />

				<!-- Current App Sections -->
                <t t-if="currentAppSections.length" t-call="web.NavBar.SectionsMenu">
					<t t-set="sections" t-value="currentAppSections"/>
				</t>

				<!-- Systray -->
                <div class="o_menu_systray d-flex flex-shrink-0 ms-auto align-items-center" role="menu">
					<t t-foreach="systrayItems" t-as="item" t-key="item.key">
					<div t-att-data-index="item.index"/>
                        <ErrorHandler onError="error => this.handleItemError(error, item)">
						<t t-component="item.Component" t-props="item.props"/>
					</ErrorHandler>
					</t>
				</div>
            </nav>
			</t>
        </xpath>
    </t>
	<t t-inherit="web.NavBar.AppsMenu" t-inherit-mode="extension" owl="1">
        <xpath expr="//Dropdown" position="replace">
			<t t-set="theme_stl" t-value="getThemeStyle()"/>
			<t t-if="theme_stl == 'style_3'">
			  <button data-hotkey="h" title="Home Menu" style="padding-left:16px;border-color:transparent;font-size: 1.2em" t-on-click="toggleMenu">
				<i class="fa fa-th" />
			  </button>
				<div class="sh-overlay o_hidden" id="sh_menu_overlay" t-on-click="toggleMenu"></div>
				<div class="sh-home-menu o_hidden" id="sh_home_menu">
				  <div class="sh-home-menu__inner">
					  <div class="sh-search-box text-center">
						  <input
							type="text"
							class="sh-search"
							placeholder="Search apps..."
							t-on-input="onSearchInput"
							t-ref="searchInput"
						  />
					  </div>
					  <div class="sh_search_results">
<!--						<t t-call="quick.menulist"/>-->
					</div>
					<div class="sh_main_app_icon_drawer">
						<div class="sh-apps d-flex flex-wrap gap-4">
						<t t-foreach="apps" t-as="app" t-key="app.id">
							<a
							class="o_app text-center"
							t-attf-class="o_app text-center #{menuService.getCurrentApp() === app ? 'focus' : ''}"
							t-att-href="getMenuItemHref(app)"
							t-att-data-menu-xmlid="app.xmlid"
							t-att-data-section="app.id"
							t-att-title="app.name"
							t-on-click="onAppClick"
							t-att-data-app-name="app.name.toLowerCase()"
							target="_blank"
							>
							<img
								class="o_app_icon"
								t-attf-src="{{app.webIconData}}"
								alt=""
							/>
							<div class="o_app_name" t-esc="app.name" />
							</a>
						</t>
						</div>
					</div>
				  </div>
				</div>
			</t>
			<t t-else="">
				<Dropdown>
				  <button data-hotkey="h" title="Home Menu">
					<i class="fa fa-th" />
				  </button>
				  <t t-set-slot="content">
					<DropdownItem
					  t-foreach="apps"
					  t-as="app"
					  t-key="app.id"
					  class="{ 'o_app': true, focus: menuService.getCurrentApp() === app }"
					  onSelected="() => this.onNavBarDropdownItemSelection(app)"
					  t-esc="app.name"
					  attrs="{ href: getMenuItemHref(app), 'data-menu-xmlid': app.xmlid, 'data-section': app.id }"
					/>
				  </t>
				</Dropdown>
			</t>
		</xpath>
	</t>
    <t t-name="Menu.link">
		<t t-set="depth" t-value="(depth || 0) + 1"/>
        <t t-if="!menu.childrenlist.length">
			<t t-set="_link">
				<a role="menuitem"
                   t-attf-href="#menu_id=#{menu.id}&amp;action=#{menu.action ? menu.action.split(',')[1] : ''}"
                   t-att-data-menu="menu.id"
                   t-att-data-action-model="menu.action ? menu.action.split(',')[0] : ''"
                   t-att-data-action-id="menu.action ? menu.action.split(',')[1] : ''"
                   t-att-data-menu-xmlid="menu.xmlid"
                   t-attf-class="#{inNavbar ? '' : 'dropdown-item '}o_menu_entry_lvl_#{depth}"
                   data-toggle="collapse" data-target="#o_navbar_collapse.in">
					<span>
						<t t-esc="menu.name"/>
					</span>
				</a>
			</t>
            <li t-if="inNavbar">
				<t t-raw="_link"/>
			</li>
            <t t-else="">
				<t t-raw="_link"/></t>
		</t>
        <t t-else="">
			<t t-if="!mobile">
				<div t-attf-class="dropdown-header o_menu_header_lvl_#{depth}">
					<span>
						<t t-esc="menu.name"/>
					</span>
				</div>
                <t t-foreach="menu.childrenlist" t-as="menu" t-key="menu.id">
					<t t-call="Menu.link"/></t>
			</t>
            <li t-else="" class="sh_profile_menu_section">
				<a href="#" t-attf-class="o_menu_entry_lvl_#{depth}" data-toggle="dropdown" role="button"
                   aria-expanded="false" t-att-data-menu-xmlid="menu.xmlid">
					<t t-esc="menu.name"/>
                    <span class="fa fa-chevron-right" id="sub_menu"/>
				</a>
                <ul>
					<t t-foreach="menu.childrenlist" t-as="menu" t-key="menu.id">
						<t t-call="Menu.link"/></t>
				</ul>
			</li>
		</t>
	</t>

</templates>