@if $login_page_style == "style_3" {

    @if $login_page_background_type == "bg_color" {
        body.bg-100{
            .sh_backmate_th_login_left_img_st_2 {background-color: $login_page_background_color;background-repeat: no-repeat;background-size: cover;min-height: 100vh;background-position-x: center;background-position: center;align-items: center; position: relative;}
        }
    }
    @if $login_page_background_type == "bg_img" {
        body.bg-100 {
            .sh_backmate_th_login_left_img_st_2 {
                background: url("/web/image?model=sh.back.theme.config.settings&id=1&field=login_page_background_image");background-repeat: no-repeat;background-size: cover;min-height: 100vh;background-position-x: center;background-position: center;align-items: center; position: relative;
                &:before {position: absolute;background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.5));z-index: 0;top: 0;left: 0;height: 100%;content: '';width: 100%;}
            }
        }
    }
   
body.bg-100 {
	.o_rtl{
		direction: rtl;
	}
	font-family: $body_font_family !important;
	background-color: $login_page_box_color !important;
	.card-body {
		font-family: $body_font_family !important;
	}
	.justify-content-between.mt-2.d-flex.small {
		a {
			color: #fff;
			padding-top: 15px;
		}
	}
	.card {
		.card-body {
			input {
				padding-left: 0;
				background-color: transparent;
				background-repeat: no-repeat;
				background-position: center bottom, center calc(100% - 1px);
				background-size: 0 2px, 100% 1px;
				transition: background 0s ease-out;
				border-bottom: 1px solid #ccc;
				border-left: 0px;
				border-right: 0px;
				border-top: 0px;
				padding: 0.429rem 1.072rem;
				border-radius: 0px;
				&:focus {
					-webkit-background-size: 100% 2px, 100% 1px;
					background-size: 100% 2px, 100% 1px;
					outline: 0;
					-webkit-transition-duration: 0.3s;
					-o-transition-duration: 0.3s;
					transition-duration: 0.3s;
					float: none;
					background-image: linear-gradient($header_bg_color, $header_bg_color), linear-gradient($header_bg_color, $header_bg_color);
					border: 0;
					border-radius: 0;
					-webkit-box-shadow: none;
					box-shadow: none;
				}
			}
			.text-center.small.mt-4.pt-3.border-top {
				margin-top: 0.5rem !important;
				border: 0 !important;
				margin: 0 !important;
				a {
					color: #fff;
					font-weight: 600;
					text-decoration: none;
					letter-spacing: 0.5px;
				}
			}
			.btn.btn-link.btn-sm {
				color: $primaryColor;
				padding-top: 15px;
			}
			.btn-primary {
				background: rgba(0, 0, 0, 0.2);
				border: none;
				color: #fff;
				padding: 12px 80px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				text-transform: uppercase;
				font-size: 13px;
				box-shadow: none;
				-webkit-border-radius: 5px 5px 5px 5px;
				border-radius: 5px 5px 5px 5px;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-ms-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				background-color: $primaryColor;
				color: #fff;
				background: rgba(0, 0, 0, 0.5) !important;
				box-shadow: none;
				&:not(:disabled) {
					&:not(.disabled) {
						&:active {
							background-color: $primaryColor;
							border-color: $primaryColor;
						}
					}
					&:not(.disabled).active {
						background-color: $primaryColor;
						border-color: $primaryColor;
					}
				}
			}
			.form-control {
				&:focus {
					box-shadow: none;
				}
			}
			input[type="text"] {
				background-color: transparent;
				border: none;
				color: #fff;
				text-align: left;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-ms-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
				-webkit-border-radius: 5px 5px 5px 5px;
				border-radius: 5px 5px 5px 5px;
				padding: 10px 15px;
				background: rgba(255, 255, 255, 0.2);
				border-left: 0px solid $header_bg_color;
				border-radius: 5px;
				&::placeholder {
					color: #fff;
				}
			}
			input[type="password"] {
				background-color: transparent;
				border: none;
				color: #fff;
				text-align: left;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-ms-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
				-webkit-border-radius: 5px 5px 5px 5px;
				border-radius: 5px 5px 5px 5px;
				padding: 10px 15px;
				background: rgba(255, 255, 255, 0.2);
				border-left: 0px solid $header_bg_color;
				border-radius: 5px;
				&::placeholder {
					color: #fff;
				}
			}
			.btn-secondary {
				background-color: $primaryColor;
				border-color: $primaryColor;
			}
			.show {
				>.btn-primary.dropdown-toggle {
					background-color: $primaryColor;
					border-color: $primaryColor;
				}
			}
			.oe_login_buttons {
				a.btn {
					padding-top: 25px;
				}
			}
			.field-login {
				label {
					color: #fff;
				}
			}
			label[for="db"] {
				color: #fff;
			}
			label[for="password"] {
				color: #fff;
			}
			.sign_in {
				color: $primaryColor;
			}
			.justify-content-between.mt-2.d-flex.small {
				a {
					font-weight: 600;
					text-decoration: none;
					letter-spacing: 0.5px;
				}
			}
			.oe_login_form {
				.mb-3 {
					.input-group {
						align-items: center !important;
						.btn.btn-secondary {
							padding: 10px 0.75rem !important;
						}
					}
				}
			}
		}
		.oe_login_form {
			.form-group.field-login {
				.input-group {
					background: rgba(256, 256, 255, 0.2) !important;
					align-items: center;
					padding: 4px 15px;
					border-radius: 5px;
					color: #fff;
					input {
						background: transparent !important;
						border: 0;
						padding-left: 15px;
						&::placeholder {
							color: #ddd !important;
						}
					}
					.input-group-prepend {
						align-items: center;
					}
					.login_user_icon {
						padding-right: 15px;
						font-size: 18px;
					}
				}
			}
			.form-group.field-password {
				.input-group {
					background: rgba(256, 256, 255, 0.2) !important;
					align-items: center;
					padding: 4px 15px;
					border-radius: 5px;
					color: #fff;
					input {
						background: transparent !important;
						border: 0;
						padding-left: 15px;
						&::placeholder {
							color: #ddd !important;
						}
					}
					.input-group-prepend {
						align-items: center;
					}
					.login_user_icon {
						padding-right: 15px;
						font-size: 18px;
					}
				}
			}
		}
	}
	.btn.btn-link.btn-sm {
		color: $primaryColor !important;
	}
	.btn-group-sm {
		>.btn.btn-link {
			body.bg-100 {
				color: $primaryColor !important;
			}
		}
	}
	.sh_backmate_th_login_left_img_st_2 {
        @include media-breakpoint-down(lg) {
            flex-direction: column;
            justify-content: space-around;
        }
		.card {
			.card-body {
				h1 {
					.sign_in {
						color: #fff;
						font-weight: 600;
					}
				}
			}
		}
		.col-lg-6.sh_logo_icon_img {
			z-index: 1;
		}
		.col-lg-6 {
			&:first-child {
				border-right: 1px solid #fff;
				z-index: 9;
			}
		}
	}
	.o_database_list {
		.card-body {
			border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%);
			.field-db {
				label {
					color: #fff;
					letter-spacing: 0.7px;
				}
				.input-group-append {
					a {
						background: rgba(0, 0, 0, 0.5);
						line-height: 38px;
						padding: 0 20px;
						box-shadow: none;
						border: 0px;
					}
				}
			}
			background-color: transparent !important;
		}
		max-width: 100% !important;
		border-radius: 0px;
		padding: 0px 25px;
		position: relative;
		background-color: transparent !important;
	}
	.mt-5 {
		margin-top: 0rem !important;
	}
	.sh_backmate_th_login_left_img_st_2.col-lg-6 {
		padding: 0px;
	}
	.container-fluid.pb-5 {
		padding-bottom: 0rem !important;
	}
	.container-fluid.mb-5 {
		margin-bottom: 0rem !important;
	}
	.container-fluid {
		.bg-100 {
			background-color: $login_page_box_color !important;
			color: #212529;
			background-color: $login_page_box_color !important;
		}
		.oe_login_form {
			.justify-content-between.mt-2 {
				margin-top: 1rem !important;
			}
			.ou-login-buttons{
				.btn-primary {
					padding: 10px 20px !important;
				}
			}
		}
	}
}
.bg-100 {
	color: $primaryColor !important;
}

}