@if $login_page_style == "style_4" {

    @if $login_page_background_type == "bg_color" {
        body.bg-100{
            .sh_backmate_th_login_left_img_st_2 {background-color: $login_page_background_color;background-repeat: no-repeat;background-size: cover;min-height: 100vh;background-position-x: center;background-position: center;align-items: center; position: relative;}
        }
    }
    @if $login_page_background_type == "bg_img" {
        body.bg-100 {
            .sh_backmate_th_login_left_img_st_2 {
                background: url("/web/image?model=sh.back.theme.config.settings&id=1&field=login_page_background_image");background-repeat: no-repeat;background-size: cover;min-height: 100vh;background-position-x: center;background-position: center;align-items: center; position: relative;
                &:before {position: absolute;background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.5));z-index: 0;top: 0;left: 0;height: 100%;content: '';width: 100%;}
            }
        }
    }
    
    body.bg-100 {
        .o_rtl{
            direction: rtl;
        }
        font-family: $body_font_family !important;
        .oe_login_form {
			.ou-login-buttons{
				.btn-primary {
					padding: 10px 20px !important;
				}
			}
		}
        .card {
            font-family: $body_font_family !important;
            .card-body {
                padding-left: 40px;
                padding-right: 40px;
                input {
                    padding: 10px 15px ;
                    &:-webkit-autofill {
                        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
                        box-shadow: 0 0 0px 1000px white inset !important;
                        &:hover {
                            -webkit-box-shadow: 0 0 0px 1000px white inset !important;
                            box-shadow: 0 0 0px 1000px white inset !important;
                        }
                        &:focus {
                            -webkit-box-shadow: 0 0 0px 1000px white inset !important;
                            box-shadow: 0 0 0px 1000px white inset !important;
                        }
                        &:active {
                            -webkit-box-shadow: 0 0 0px 1000px white inset !important;
                            box-shadow: 0 0 0px 1000px white inset !important;
                        }
                    }
                }
                #login {
                    &::placeholder {
                        color: #616161;
                    }
                }
                #password {
                    &::placeholder {
                        color: #616161;
                    }
                }
                .login_user_icon {
                    color: #616161;
                }
                .text-center.small.mt-4.pt-3.border-top {
                    a {
                        color: #ffffff;
                        background: transparent;
                        text-decoration: none;
                    }
                    border: 0px !important;
                }
                padding-top: 60px;
                background: #fff !important;
                border-radius: 10px;
            }
            h2 {
                .company_name_style_1 {
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 1px;
                    display: block;
                    margin-bottom: 20px;
                }
            }
        }
        .o_database_list {
            background-color: transparent !important;
            width: 35%;
            max-width: 100% !important;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
            .text-center.border-bottom {
                margin: 0 auto -60px !important;
                border: 0 !important;
                width: 120px;
                padding: 20px !important;
                height: 120px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                z-index: 1;
                background-color: #fff;
            }
        }
        .sh_backmate_th_login_left_img_st_2 {
            .card-body {
                
                .oe_login_form {  
                    .col-form-label,
                        .form-label{
                            display: none;
                        } 
                        .field-login{
                            margin: 30px 0 !important;
                            @include media-breakpoint-down(md) {
                                margin: 25px 0 !important;
                            }
                        }                 
                    .input-group {
                        .input-group-prepend {
                            align-items: center;
                            span {
                                padding-right: 15px;
                            }
                        }
                        
                        input {
                            border: 0px;
                            font-size: 14px;
                            padding: 10px 15px;
                            &::placeholder {
                                color: #777 !important;
                            }
                        }
                        a.btn.btn-secondary {
                            background: $primaryColor !important;
                            line-height: 33px;
                            text-transform: uppercase;
                            font-size: 12px;
                            font-weight: 600;
                            letter-spacing: 0.7px;
                            border: 0px;
                            box-shadow: none;
                            outline: none;
                            color: #fff !important;
                        }
                    }
                    .oe_login_buttons {
                        button {
                            width: auto;
                            padding: 10px 40px;
                            font-weight: 600;
                            letter-spacing: 0.7px;
                            margin: auto;
                            background: $primaryColor;
                            border-color: $primaryColor;
                            box-shadow: none;
                            margin-bottom: 0px;
                            color: #fff !important;
                        }
                    }
                }
            }
        }
        .text-center.small.mt-4.pt-3.border-top {
            a {
                color: #ffffff;
                font-size: 12px;
                letter-spacing: 1px;
            }
        }
    }   
}