/* ======================= List Inside Form Sticky Start ====================== */
@if $is_sticky_list_inside_form == True{
	.o_form_view {
		.table-responsive {
			max-height: 250px;overflow-y: scroll;overflow-x: initial;
		}
		.o_list_view {
			.o_list_table {
				thead {
					th {
						position: sticky !important;top: 0;z-index: 1;
					}
					tr {
						&:nth-child(1) {
							th {
								background-color: $o-list-footer-bg-color;;
							}
						}
					}
				}
			}
		}
	}
	.modal {
		.modal-dialog {
			.modal-content {
				.o_form_view {
					.o_list_view {
						.o_list_table {
							thead {
								position: sticky !important;top: 0;z-index: 1;
							}
						}
					}
				}
			}
		}
	}
}
/* ====================== List Inside Form Sticky End ===================== */