/*-------------scrollbar-----------------*/
@if $scrollbar_style == "style_1" {
    ::-webkit-scrollbar {width: 5px !important;height: 5px !important;}
    ::-webkit-scrollbar-track {box-shadow: inset 0 0 10px #c9c9c9;border-radius: 10px;}
    ::-webkit-scrollbar-thumb {background: $primaryColor;border-radius: 10px;}
    ::-webkit-scrollbar-thumb:hover {background: $primaryColor !important;}
}
@if $scrollbar_style == "style_2" {
    ::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);background-color: #c1c0c0;border-radius: 10px;}
    ::-webkit-scrollbar {width: 7px !important;height: 7px !important;background-color: #f5f5f5;}
    ::-webkit-scrollbar-thumb {background-color: #e9e9e9;border-radius: 10px;background-image: -webkit-linear-gradient(45deg,rgba(92, 92, 92, 0.30) 25%,transparent 25%,transparent 50%,rgba(92, 92, 92, 0.30) 50%,rgba(92, 92, 92, 0.30) 75%,transparent 75%,transparent);}
}
@if $scrollbar_style == "style_3" {
    ::-webkit-scrollbar {width: 5px !important;height: 5px !important;}
    ::-webkit-scrollbar-track {background-color: #e4e4e4;border-radius: 100px;}
    ::-webkit-scrollbar-thumb {border-radius: 100px;background: linear-gradient(200deg, $primaryColor 40%, lighten($primaryColor, 20%) 100%);box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);}
}
@if $scrollbar_style == "style_4" {
    ::-webkit-scrollbar {width: 8px !important;height: 6px !important;}
    ::-webkit-scrollbar-track {background: #e7e7e7;}
    ::-webkit-scrollbar-thumb {background-color: $primaryColor !important;border-radius: 20px;border: 2.5px solid #c1c0c0;}
}
@if $scrollbar_style == "style_5" {
    ::-webkit-scrollbar {width: 6px !important;height: 6px !important;}
    ::-webkit-scrollbar-thumb {background-color: #dbdbdb !important;box-shadow: rgba(191, 191, 191, 1) 0px 0px 5px 0px inset;border-radius: 10px;}
    ::-webkit-scrollbar-track {background: transparent !important;}
    ::-webkit-scrollbar-button {background-color: $primaryColor;box-shadow: $primaryColor 0px 0px 5px 0px inset;border-radius: 10px;height: 10px !important;width: 10px !important;display: block;}
    ::-webkit-scrollbar-button:vertical:start:increment,
    ::-webkit-scrollbar-button:vertical:end:decrement,
    ::-webkit-scrollbar-button:horizontal:start:increment,
    ::-webkit-scrollbar-button:horizontal:end:decrement {display: none;}
}
/*------------------scrollbar-----------------*/
