$o-enterprise-color: #111c43;

$theme_style: style_1;
$theme_color: color_1;


$primaryColor:#111c43;
$secondaryColor:#FFFFFF;
$kanban_box_style: style_1;

$list_td_th:0.75rem !important;

$header_bg_color:#FFFFFF;
$header_font_color:#111c43;
$header_background_type: header_color;
$header_background_color:#ebedf6;



$body_background_type:bg_color;
$body_background_color:#ebedf6;
$body_font_family:'Poppins';
$body_google_font_family:'Inter';      
$is_used_google_font:True;
$body_google_font_family_url:"";


$o-mail-attachment-image-size: 100px !default;

$sidebar_bg_color:#111c43;
$sidebar_font_color:#e2e8f0;
$sidebar_is_show_nav_bar:True;
$sidebar_collapse_style:collapsed;


       
$separator_style:style_7;
$separator_color:#111c43;

$o-community-color:#111c43;
$o-tooltip-background-color:#111c43;
$o-brand-secondary:#e6e6e6;
$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;

$button_style:style_4;

$predefined_list_view_boolean:False;
$predefined_list_view_style:style_1;
$list_view_border:without_border;
$list_view_is_hover_row:True;
$list_view_hover_bg_color:#111c43;
$list_view_even_row_color:#FFFFFF;
$list_view_odd_row_color:#FFFFFF;

$login_page_style: style_2;
$login_page_style_comp_logo: False;
$login_page_background_type: bg_color;
$login_page_background_color: #ffffff;
$login_page_box_color:#ffffff;


$is_sticky_form:True;
$is_sticky_list:True;
$is_sticky_list_inside_form:True;
$is_sticky_pivot: False;


$tab_style:horizontal;
$tab_style_mobile:vertical;
$horizontal_tab_style:style_4;
$form_element_style:style_1;
$search_style:expanded;
$breadcrumb_style:style_1;
$sidebar_background_style:color;
$progress_style:style_1;
$progress_height:4px;
$progress_color:#111c43;
$checkbox_style:style_1;
$radio_btn_style:style_1;
$scrollbar_style:style_1;
$icon_style:light_icon;
$dual_tone_icon_color_1:#A3A5B7;
$dual_tone_icon_color_2:#2C3782;
$backend_all_icon_style: style_2;
$chatter_type:bottom;






