
	.o_web_client {
		.o_navbar {
			@if $header_background_type =="header_img" {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/web/image?model=sh.back.theme.config.settings&id=1&field=header_background_image');background-repeat: no-repeat;background-size: cover;color: #4E4E4E;
			}
			.o_main_navbar{
				@if $header_background_type =="header_img" {
					background: transparent !important;
					.o_menu_brand { color: $header_font_color !important; 
						@include media-breakpoint-only(md) { margin-left: 10% !important; }
					}
					.o_navbar_apps_menu { background: transparent;
						button { color: $header_font_color; }
					}
					#js_bar_toggle_btn_mobile { color: $header_font_color !important; }
					.o_menu_toggle { color: $header_font_color !important; }
					.o_menu_sections {
						a.o-dropdown-item , button.o-dropdown { background: transparent; color: $header_font_color !important;
							&:hover , &.show{  color: $primaryColor !important; background: transparent !important; }
						}
					}
				}
				@if $header_background_type =="header_color" {
					background:$header_bg_color;background-repeat: no-repeat;background-size: cover;color: #4E4E4E;
					.o_menu_brand { color: $header_font_color !important; 
						@include media-breakpoint-only(md) { margin-left: 10% !important; }
					}
					.o_navbar_apps_menu {
						button { background: $header_bg_color; color: $header_font_color; }
					}
					#js_bar_toggle_btn_mobile { background: $header_bg_color !important; color: $header_font_color !important; }
					.o_menu_toggle { color: $header_font_color !important; }
					.o_menu_sections {
						a.o-dropdown-item , button.o-dropdown { background: transparent; color: $header_font_color !important;
							&:hover , &.show{  color: $primaryColor !important; background: transparent !important; }
						}
					}
				}
			}
		}
	}
	.o_main_navbar {
        .o_navbar_breadcrumbs{
            color:black !important;
        }
        .o_menu_toggle{
            color:black !important;
        }
		align-items: center;box-shadow: none !important;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);transition: transform 400ms ease, height 400ms ease, border-bottom 400ms ease;width: 100%;position: relative;height: 4rem;min-height: 4rem;border-bottom: 1px solid $header_bg_color;color: #787373;
		@include media-breakpoint-down(md) {
			min-height: 3.2rem !important;
		}
		.o_menu_systray {
			position: unset;width: auto !important;background: transparent;color: unset;
			.sh_menu_systray:not(:empty),
			.o-dropdown {
				background-color: $secondaryColor;padding: 0px 10px !important;font-weight: 600;color: $primaryColor !important;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);margin-right: 5px;height: 40px;width: 40px;display: -webkit-box;display: -webkit-flex;display: flex;justify-content: center;align-items: center;cursor: pointer;
				@extend .sh_btn_style;
				.o-mail-NotificationItem {
					color: #212529;
					.o-mail-NotificationItem-name {
						color: #212529;
					}
				}
				button {
					color: $header_font_color;
				}
				@include media-breakpoint-down(md) {
					height: 35px;width: 35px;
				}
			}
			.o-mail-DiscussSystray-class {
				background-color: transparent !important; margin-left: 8px ; height: max-content;
			}
			.o_switch_company_menu{
				button{
					.fa{
						display: block!important;font-size: 1.2em;
					}
				}
			}
		}
	}


	// .o_main_navbar {
	// 	ul.o_menu_systray {
	// 		.o_debug_manager {
	// 			.dropdown-menu.show {
	// 				position: absolute;top: 100%;bottom: auto;left: auto !important;width: auto !important;
	// 			}
	// 			.dropdown-menu {
	// 				transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;
	// 			}
	// 		}
	// 		.o_debug_manager.show {
	// 			.dropdown-menu {
	// 				transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;
	// 			}
	// 		}
	// 	}
	// 	.o_user_menu {
	// 		.user_setting {
	// 			position: absolute;background: #ffffff;border: 1px solid #dee2e6;max-height: 90vh;min-width: 10rem;overflow: auto;margin-top: 0;
	// 		}
	// 	}
	// 	.o_menu_systray {
	// 		.sh_bookmark {
	// 			.dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls {
	// 				animation: leftScale ease-in-out 0.4s;transform-origin: right top;
	// 			}
	// 		}
	// 		.o_MessagingMenu.dropdown {
	// 			.o_MessagingMenu_dropdownMenu {
	// 				animation: leftScale ease-in-out 0.4s;transform-origin: right top;
	// 			}
	// 		}
	// 	}
	// }
	// 	.o_mail_systray_dropdown {
	// 		position: absolute;top: 100%;bottom: auto;left: auto !important;
	// 	}
	// .o_switch_company_menu {
	// 	.dropdown-menu {
	// 		position: absolute;top: 100%;bottom: auto;left: auto !important;min-height: auto;max-height: none !important;right: 0px !important;
	// 		.company_label{
	// 			word-break: break-all;
	// 			white-space: normal;
	// 			text-align: left;
	// 		}
	// 	}
	// }
	// 	.user_setting {
	// 		ul {
	// 			li {
	// 				span {
	// 					display: block;
	// 				}
	// 				a {
	// 					i {
	// 						display: none;
	// 					}
	// 					margin-left: 0;
	// 				}
	// 				padding: 3px 20px;text-align: left;
	// 			}
	// 		}
	// 	}
	// .o_mail_systray_item {
	// 	.o_mail_systray_dropdown {
	// 		transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;
	// 	}
	// }
	// .o_ActivityMenuView {
	// 	.o_ActivityMenuView_dropdownMenu.show {
	// 		transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;
	// 	}
	// }
	// 	.o_switch_company_menu.show {
	// 		.dropdown-menu {
	// 			animation: leftScale ease-in-out 0.4s;transform-origin: right top;
	// 		}
	// 	}
	// 	nav.o_main_navbar {
	// 		.o_menu_systray {
	// 			div.dropdown.o_user_menu {
	// 				.dropdown-menu {
	// 					animation: leftScale ease-in-out 0.4s;transform-origin: right top;
	// 				}
	// 			}
	// 		}
	// 	}

	// 	@keyframes leftScale{
	// 		0% {
	// 			transform: scale(0);
	// 		}
	// 		100% {
	// 			transform: scale(1);
	// 		}
	// 	}
	// 	.o_main_navbar {
	// 		.o_user_menu {
	// 			>a {
	// 				padding-right: 8px;
	// 			}
	// 		}
	// 	}
	// 	.o_ActivityMenuView {
	// 		.o_ActivityMenuView_counter {
	// 			background: $primaryColor !important;color: #fff !important;
	// 		}
	// 	}
	// 	.o_MessagingMenu_counter {
	// 		background: $primaryColor !important;color: #fff !important;
	// 	}

	// 	@if $sidebar_collapse_style == 'collapsed'{
	// 		.o_web_client {
	// 			>header {
	// 				height: auto;
	// 			}
	// 		}
	// 		header {
	// 			.o_main_navbar {
	// 				width: auto;
	// 			}
	// 		}
	// 		#hide_top_bar {
	// 			display: block;
	// 		}
	// 		#show_top_bar {
	// 			display: none;
	// 		}
	// 		.modal-content {
	// 			.modal-body.o_act_window {
	// 				.o_searchview {
	// 					.o_searchview_input_container {
	// 						width: 38em;
	// 					}
	// 				}
	// 			}
	// 		}
	// 		.o_main_navbar {
	// 			z-index: 3;
	// 		}

	// 	}
	// 	nav.o_main_navbar {
	// 		.o_menu_systray {
	// 			div.dropdown.o_switch_company_menu {
	// 				a {
	// 					padding-left: 0;
	// 					i {
	// 						font-size: 14px;vertical-align: middle;
	// 					}
	// 				}
	// 				a.dropdown-toggle {
	// 					&::after {
	// 						display: none;
	// 					}
	// 				}
	// 			}
	// 			li.sh_search {
	// 				.sh_search_container {
	// 					.sh_search_input {
	// 						margin-top: 0;
	// 					}
	// 				}
	// 			}
	// 			div.dropdown.o_full_screen {
	// 				.compress_img {
	// 					margin-top: 0;height: 100%;object-fit: contain;text-align: center;margin: auto;line-height: 30px;
	// 				}
	// 				cursor: pointer;
	// 				.expand_img {
	// 					height: 100%;object-fit: contain;text-align: center;margin: auto;line-height: 30px;
	// 				}
	// 			}
	// 			.theme_settings {
	// 				cursor: pointer;
	// 				.theme_setting_img {
	// 					font-size: 16px;color: #fff;vertical-align: middle;
	// 				}
	// 			}
	// 			div.dropdown.o_night_mode {
	// 				cursor: pointer;background: $secondaryColor;height: 25px;width: 25px;padding: 0;line-height: 23px;border-radius: 5px;margin: 0 15px;text-align: center;
	// 				span {
	// 					font-size: 16px;vertical-align: middle;
	// 				}
	// 			}
	// 			div.dropdown.o_user_menu {
	// 				a {
	// 					padding-top: 3px;
	// 				}
	// 				.dropdown-menu {
	// 					transition: all .4s;left: auto !important;overflow: hidden;transform-origin: 100% 0px;position: absolute;right: 0px !important;bottom: auto;left: auto !important;min-height: auto;width: 25rem;
	// 				}
	// 				.dropdown-menu.show {
	// 					transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;
	// 				}
	// 				a.dropdown-toggle {
	// 					&::after {
	// 						display: none;
	// 					}
	// 				}
	// 			}
	// 			.o_RtcActivityNotice.dropdown {
	// 				padding: 0px !important;
	// 			}
	// 			div.dropdown {
	// 				>a {
	// 					text-align: center;
	// 				}
	// 			}
	// 			div.dropdown.o_debug_manager {
	// 				.dropdown-menu {
	// 					li {
	// 						position: unset;left: auto;font-size: unset !important;
	// 					}
	// 				}
	// 				a {
	// 					span {
	// 						font-size: 16px;vertical-align: middle;
	// 					}
	// 				}
	// 			}
	// 		}
	// 		>ul {
	// 			>li {
	// 				>a {
	// 					&:hover {
	// 						background: transparent;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// 	.o_main_navbar {
	// 		>ul.o_menu_systray {
	// 			padding-bottom: 0;align-items: center;min-height: 48px;display: flex;
	// 		}
	// 		>ul {
	// 			>li {
	// 				>a {
	// 					line-height: normal;height: auto;padding: 0;
	// 					span.icon-activity {
	// 						font-size: 16px;vertical-align: middle;padding-left: 5px;
	// 					}
	// 					span.icon-discuss {
	// 						font-size: 24px;vertical-align: middle;
	// 					}
	// 				}
	// 				>a.gift_icon {
	// 					i {
	// 						font-size: 18px;vertical-align: middle;
	// 					}
	// 				}
	// 			}
	// 			>li.o_user_menu {
	// 				&:hover {
	// 					background: transparent;
	// 				}
	// 			}
	// 			>li.o_mail_systray_item {
	// 				&:hover {
	// 					background: transparent;
	// 				}
	// 			}
	// 		}
	// 		.o_user_menu {
	// 			>a {
	// 				padding-right: 0 !important;
	// 			}
	// 			.oe_topbar_avatar {
	// 				width: 25px;height: 25px;border-radius: 3px !important;
	// 			}
	// 		}
	// 		.o_menu_systray {
				// .sh_bookmark_dropdown_view {
				// 	.dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls {
				// 		transition: all .4s;left: auto !important;overflow: hidden;transform-origin: 100% 0px;position: absolute;right: 0px !important;bottom: auto;min-height: auto;width: 25rem;
				// 	}
				// 	.dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls.show {
				// 		transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;
				// 	}
				// }
	// 		}
	// 	}
	// 	.sh_search_input {
	// 		.usermenu_search_input2 {
	// 			border-bottom: 0 !important;
	// 		}
	// 	}
	// 	.o_menu_systray {
	// 		.o_RtcActivityNotice.dropdown {
	// 			.o_RtcActivityNotice_button {
	// 				.o_RtcActivityNotice_buttonContent {
	// 					background: $secondaryColor !important;line-height: 23px;border-radius: 5px;color: #746f6f !important;padding: 5px;
	// 				}
	// 				background: transparent;
	// 				&:hover {
	// 					.o_RtcActivityNotice_buttonContent {
	// 						color: $primaryColor !important;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}


	// 	/* == old == */
	// 	@media only screen and (max-width: 992px){
	// 		.o_main_navbar {
	// 			>ul.o_menu_systray {
	// 				z-index: 1;
	// 			}
	// 			ul.o_menu_systray {
	// 				.o_debug_manager.show {
	// 					.dropdown-menu {
	// 						a {
	// 							width: 100% !important;
	// 						}
	// 					}
	// 				}
	// 				li.o_debug_manager.show {
	// 					.dropdown-menu {
	// 						width: 100% !important;
	// 					}
	// 				}
	// 			}
	// 		}
	// 		nav.o_main_navbar {
	// 			ul.o_menu_systray {
	// 				li {
	// 					padding: 0 5px !important;
	// 				}

	// 			}
	// 			.o_menu_systray {
	// 				div.dropdown.o_full_screen {
	// 					display: none !important;
	// 				}
	// 				div.dropdown.sh_search {
	// 					&:first-child {
	// 						position: unset !important;margin: 0 5px;
	// 						.input-group {
	// 							position: unset;flex-flow: nowrap;
	// 						}
	// 					}
	// 				}
	// 				li.sh_search {
	// 					.sh_search_container {
	// 						.sh_search_input {
	// 							.usermenu_search_input {
	// 								width: 100% !important;border-color: #cccccc !important;transform: translateX(0%) !important;
	// 							}
	// 						}
	// 					}
	// 				}
	// 			}
	// 		}
	// 		#js_bar_toggle_btn_mobile {
	// 			background: $primaryColor;width: 35px;height: 35px !important;text-align: center;font-size: 10px;border-radius: 5px;top: 15px;left: 10px !important;display: block !important;z-index: 2 !important;
	// 			i {
	// 				font-size: 18px !important;padding-top: 6px;
	// 			}
	// 		}

	//    	}
	// 	@media only screen and (max-width: 568px){
	// 		nav.o_main_navbar {
	// 			.o_menu_systray {
	// 				li.sh_search {
	// 					.sh_search_container {
	// .sh_search_input {
	// 	.usermenu_search_input2 {
	// 		display: none;
	// 	}
	// 	.usermenu_search_input {
	// 		display: block;position: absolute;left: 50%;width: 95% !important;border-radius: 10px; z-index: 1;background: #fff;top: -12px;border: 1px solid #a1a1a1;width: auto;transform: translateX(-50%) !important;top: 50px;height: 35px !important;
	// 	}
	// 	#topbar_full_search_icon {
	// 		display: none;
	// 	}
	// 	#topbar_search_icon {
	// 		display: block;
	// 	}
	// 	border: 0;
	// }
	// 					}
	// 				}
	// 			}
	// 		}

	// 	}
	//   	 @media only screen and (max-width: 992px) and (min-width: 576px){
	// 	.o_main_navbar {
	// 		.o_menu_systray {
	// 			.sh_search_container {
	// 				.sh_search_results {
	// 					width: 100% !important;left: 0%;background: #fff;text-align: left;padding-right: 0;margin-top: 0px;box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.25);
	// 				}
	// 			}
	// 		}
	// 	}

	// 	}

	// 	nav.o_main_navbar {
	// 		.o_menu_systray {
	// 			div.dropdown.sh_calc_util {
	// 				.sh_calc_results {
	// 					transform: scale(0, 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;
	// 				}
	// 			}
	// 			div.dropdown.sh_calc_util.active {
	// 				.sh_calc_results {
	// 					transform: scale(1);transition: all .4s;max-height: 90vh;transform-origin: 100% 0px;padding-bottom: 10px;
	// 				}
	// 			}
	// 		}
	// 	}


	// 	//  v16 // 
	// 	.o_main_navbar {
	// 		.o_menu_systray {
	// 			.sh_bookmark {
	// 				.dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls {
	// 					overflow: auto;
	// 				}
	// 			}
	// 		}
	// 	}


	// //"The scss code of the design inside the Navbar systray dropdown is written."//
	// .o_main_navbar {


	// .o_menu_systray {

	// display: flex;
	// div.dropdown{
	//     display: flex;justify-content: center;align-items: center;
	// }


	// .show{
	// 	&:not(.ui-widget){
	// 		background: $primaryColor !important;
	// 		button:not(.btn-link){
	// 			i{
	// 				color: #fff;
	// 			}					
	// 		}
	// 	}            
	// }
	// .o_night_mode,
	// .sh_search .input-group-prepend,
	// .sh_bookmark,
	// .sh_calc_util,
	// .todo,
	// .o_full_screen {
	// 	background-color: $secondaryColor;
	// 	border-color: $secondaryColor !important;
	// 	padding: 0px 10px !important;
	// 	font-weight: 600;
	// 	color: $primaryColor;
	// 	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
	// 	margin-right: 5px !important;
	// 	height: 40px;
	// 	width: 40px;
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	cursor: pointer;
	// 	color: $header_font_color;

	// 	a {
	// 		color: $header_font_color;
	// 	}

	// 	@include media-breakpoint-down(md) {
	// 		height: 35px;
	// 		width: 35px;
	// 	}
	// }

	// .o-mail-MessagingMenu{
	//     border-top: 1px solid #dee2e6;box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);padding: 0.9rem;border: 0px;
	//     .o-mail-NotificationItem{
	//         background-color: #fff!important;
	//         span,small{
	//             color:$header_font_color; 
	//         }
	//     }
	// }
	// .o-mail-DiscussSystray{
	//     border-top: 1px solid #dee2e6;box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);padding: 0.9rem;border: 0px;
	//     .list-group-item{
	//         border: 1px solid transparent;margin:2px 0px;
	//         &:hover{
	//            background-color: transparent !important;color: $primaryColor;
	//         }
	//     }
	// }

	// .theme_settings{
	//     background: $primaryColor !important;justify-content: center;border-color: $primaryColor !important;padding: 0px 10px !important;height: 40px;width: 40px;display: flex;justify-content: center;align-items: center;cursor: pointer;font-weight: 600;color: #ffffff;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);margin-right: 5px !important;
	//     a{
	//         color: #fff;
	//     }
	// }
	// .o-mail-DiscussSystray-class{
	//     background-color:  $secondaryColor;border-color: $secondaryColor !important;padding: 0px 10px!important;font-weight: 600;color: $primaryColor;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);margin-right: 5px !important;
	// }
	// .o_switch_company_menu{
	//     button{
	//         .fa{
	//             display: block!important;position: relative;top: -3px;left: -3px;font-size: 1em;
	//         }
	//     }
	// 	.o-dropdown--menu{
	// 		.dropdown-item{
	// 			&.focus{
	// 				background: transparent;
	// 			}
	// 		}
	// 	}
	// }
	// .o_switch_company_menu.show{
	//     .fa{
	//         color: #fff;
	//     }
	// }
	// .active{
	//     background: $primaryColor !important;
	//     span{
	//         color: #fff!important;
	//     }
	// }
	// button{
	//     // .fa{
	//     //     color:$header_font_color;
	//     // }   
	// }
	// .o_avatar{
	// 	width: 25px;height: 25px;position: relative;top: -3px;right: 9px;border-radius: 15px!important;
	// }
	// .o_mobile_menu_toggle {
	//     position: relative;
	//     display: flex;
	//     align-items: center;
	//     user-select: none;
	//     background: #fff;
	//     width: 40px;
	//     font-size: 1em;
	//     height: 40px;
	//     margin-right: 5px;
	//     justify-content: center;
	//     padding-right: 6px !important;
	//     .oi-panel-right{
	//         color: $primaryColor !important;
	//     }
	//     @include media-breakpoint-down(md) {
	//         height: 35px;width: 35px;
	//     }   
	// }
	// .sh_language_selector{
	//     .o-dropdown--menu{
	//        padding: 0px ;box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
	//         .o-mail-ActivityMenu{
	//             min-height: auto;width: auto;
	//             .o-mail-ActivityGroup{
	//                 align-items: center;border: 1px solid transparent;
	//                 .sh_lang_flag{
	//                     height:25px;width: 25px;border-radius: 20px;margin-right: 5px;
	//                 }
	// 					&:hover{
	//                    background-color: transparent !important;border-radius: 20px;color: $primaryColor;
	//                 }

	//             }

	//         }
	//     }
	// }
	// .sh_bookmark{
	//     .sh_wqm_quick_menu_submenu_list_cls{
	//         transition: all .4s;overflow: auto;transform-origin: 100% 0px;position: absolute;right: 0px !important;bottom: auto;left: auto !important;width: 25rem;top: 45px;
	//         a{
	//             font-weight: 500;color: #6f7e92;border: 1px solid transparent;margin: 5px 0px;font-size: 14px;padding: 5px 20px;
	//             &:hover{
	//                 background-color: transparent !important;border-radius: 20px;color: $primaryColor;
	//             }
	//             svg{
	//                 margin-right:8px;fill:$primaryColor;
	//             }
	//         }
	//     }
	// }
	// .sh_calc_util{
	//     .sh_calc_results{
	//         border-top: 1px solid #dee2e6;box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);background-color: #fff;border: 0px;
	//         .numberPad{
	//             .clear,#sqrt,#square,#divide,#multiply,#subtract,#add,#equals{
	//                 align-items: center;display: flex;justify-content: center;background: $primaryColor!important;font-size: 20px;box-shadow: 0 0 0 transparent;outline: 0;color: #fff !important;width: 40px;height: 40px;margin: 5px;border: transparent;
	//             }
	//             button.btn-calc{
	//                 display: flex;align-items: center;justify-content: center;background: #fff; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);color: #111c43;width: 40px;height: 40px;margin: 5px;border: none;
	//             }
	//             .focus{
	//                 color: #111c43;
	//             }
	//         }
	//         .calculator{
	//             .displayText{
	//                 margin: 0 !important;background: 0 0;border: none;color: #FFF;font-size: 25px !important;display: inline-block;overflow: hidden;overflow-x: auto;padding: 8px 0px;
	//             }
	//         }
	//     }
	// }

	// .o_switch_company_menu{
	//     .o-dropdown--menu{
	//         .toggle_company{
	//             background-color: #fff;
	//             span{
	//                 .fa{
	//                     color: $primaryColor;
	//                 }
	//             }
	//         }
	//         .alert-primary{
	//             color: #111c43 ;background-color: #fff;border-color: #fff;
	//         }
	//     }
	// }
	// .o_user_menu{
	//     .o-dropdown--menu{
	//         a,>span{
	//             font-weight: 500;color: #6f7e92;border: 1px solid transparent;margin: 5px 0px;font-size: 14px;
	//             &:hover{
	//                background-color: transparent !important;border-radius: 20px;color: $primaryColor;
	//             }
	//         }

	//         .focus{
	//            background-color: transparent !important;border-radius: 20px;color: $primaryColor;
	//         }
	//     }
	// }

	// }
	// }
