@if $radio_btn_style == 'style_1'{
    .o_web_client {
        [type='radio'] {
            &:checked, &:not(:checked) {
                position: absolute; pointer-events: none;opacity: 0;
            }
        }
        .o_radio_item {
            input[type='radio'] {
                &:not(:checked) {
                    + {
                        label {
                            font-size: 1rem;line-height: inherit;position: relative;display: inline-block;height: 25px;padding-left: 25px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none !important;-webkit-transition: .28s ease;-moz-transition: .28s ease;-o-transition: .28s ease;transition: .28s ease !important;
                            &:before {
                                border-radius: 50%;border: 2px solid #5a5a5a !important;
                            }
                            &:after {
                                border-radius: 50%;border: 2px solid #5a5a5a !important;-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);transform: scale(0) !important;
                            }
                        }
                    }
                }
                &:checked {
                    + {
                        label {
                            font-size: 1rem;line-height: inherit;position: relative;display: inline-block;height: 25px;padding-left: 25px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none !important;-webkit-transition: .28s ease;-moz-transition: .28s ease;-o-transition: .28s ease;transition: .28s ease !important;
                            &:before {
                                border-radius: 50%;border: 2px solid $primaryColor !important;background-color: transparent !important;
                            }
                            &:after {
                                border-radius: 50%;border: 1px solid $primaryColor;background-color: $primaryColor;
                            }
                        }
                    }
                }
                + {
                    label {
                        &:after, &:before {
                            position: absolute;z-index: 0;top: 4px;left: 0;width: 16px;height: 16px;content: '';-webkit-transition: .28s ease;-moz-transition: .28s ease;-o-transition: .28s ease;transition: .28s ease !important;
                        }
                    }
                }
            }
            .form-check-label.o_form_label {
                &::before {
                    background-color: transparent;
                }
            }
            .form-check-input.o_radio_input {
                &:checked {
                    ~ {
                        .form-check-label.o_form_label {
                            &::after {
                                background-image: none;width: 8px;height: 8px;margin: 4px;background-color: $primaryColor;
                            }
                        }
                    }
                }
            }
        }
    }
}
@if $radio_btn_style == 'style_2'{
    .o_web_client {
        [type='radio']{
            &:checked, &:not(:checked) {
                position: absolute;pointer-events: none;opacity: 0;
                + {
                    label {
                        font-size: 1rem;line-height: inherit;position: relative;display: inline-block;height: 25px;padding-left: 30px;cursor: pointer;user-select: none !important;transition: .28s ease !important;
                    }
                }
            }
            &:not(:checked){
                + {
                    label {
                        &:before {
                            border-radius: 50%;border: 2px solid #5a5a5a;
                        }
                        &:after {
                            border-radius: 50%;border: 2px solid #5a5a5a; transform: scale(0) !important;
                        }
                    }
                }
            }
            &:checked {
                + {
                    label {
                        &:before {
                            border-radius: 50%;border: 2px solid transparent;
                        }
                        &:after {
                            border-radius: 50%;border: 2px solid $primaryColor;background-color: $primaryColor;transform: scale(1.02) !important;
                        }
                    }
                }
            }
            + {
                label {
                    &:after, &:before {
                        position: absolute;z-index: 0;top: 4px;left: 0;width: 16px;height: 16px;content: '';-webkit-transition: .28s ease;-moz-transition: .28s ease;-o-transition: .28s ease;transition: .28s ease !important;
                    }
                }
            }
        }
        [type='radio'].with-gap {
            &:checked {
                + {
                    label {
                        &:before {
                            border-radius: 50%; border: 2px solid $primaryColor;
                        }
                        &:after {
                            border-radius: 50%;border: 2px solid $primaryColor;background-color: $primaryColor;-webkit-transform: scale(.5);-moz-transform: scale(.5);-ms-transform: scale(.5);-o-transform: scale(.5);transform: scale(.5) !important;
                        }
                    }
                }
            }
        }
        .form-check-label.o_form_label {
            &::before {
                background-color: transparent;
            }
        }
        .o_radio_item {
            .form-check-input.o_radio_input {
                &:checked {
                    ~ {
                        .form-check-label.o_form_label {
                            &::after {
                                background-image: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
@if $radio_btn_style == 'style_3'{
    .o_web_client {
        [type='radio']:not([name="sidebar_collapse_style"]):not([name="header_background_type"]):not([name="search_style"]):not([name="body_background_type"]):not([name="sidebar_background_style"]):not([name="login_page_background_type"]) {
            &:checked, &:not(:checked) {
                position: absolute;pointer-events: none;opacity: 0;
            }
        }
        .o_radio_item {
            input[type='radio'] {
                &:checked, &:not(:checked) {
                    + {
                        label {
                            font-size: 1rem;line-height: inherit;position: relative;display: inline-block;height: 25px;padding-left: 25px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none !important;-webkit-transition: .28s ease;-moz-transition: .28s ease;-o-transition: .28s ease;transition: .28s ease !important;
                        }
                    }
                }
                &:not(:checked){
                    + {
                        label {
                            &:before {
                                border-radius: 0;border: 1px solid #5a5a5a !important;
                            }
                            &:after {
                                border-radius: 0;border: 1px solid #5a5a5a !important;-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);transform: scale(0) !important;transition: all .5s !important;
                            }
                        }
                    }
                }
                &:checked {
                    + {
                        label {
                            &:before {
                                border-radius: 0;background-color: transparent !important;border: 1px solid $primaryColor !important;
                            }
                            &:after {
                                border-radius: 0;border: none;transition: all .5s !important;transform: scale(1) !important;background-color: $primaryColor;
                            }
                        }
                    }
                }
                + {
                    label {
                        &:after, &:before {
                            position: absolute;z-index: 0;top: 4px;left: 0;width: 16px;height: 16px;content: '';-webkit-transition: .28s ease;-moz-transition: .28s ease;-o-transition: .28s ease;transition: .28s ease !important;
                        }
                    }
                }
            }
            .form-check-input.o_radio_input {
                &:checked {
                    ~ {
                        .form-check-label.o_form_label {
                            &::after {
                                background-image: none;width: 10px;height: 10px;margin: 3px;background-color: $primaryColor;
                            }
                        }
                    }
                }
            }
        }
        .form-check-label.o_form_label {
            &::before {
                background-color: transparent;
            }
        }
    }
}
@if $radio_btn_style == 'style_4'{
    .o_web_client {
        [type='radio'] {
            &:checked,&:not(:checked) {
                position: absolute;pointer-events: none;opacity: 0;
            }
        }
        .o_radio_item {
            input[type='radio'] {



                &:checked, &:not(:checked) {
                    + {
                        label {
                            font-size: 1rem;line-height: inherit;position: relative;display: inline-block;height: 25px;padding-left: 25px;cursor: pointer;user-select: none !important;transition: .28s ease !important;
                        }
                    }
                }
                &:not(:checked){
                    + {
                        label {
                            &:before {
                                border-radius: 50%;border: 2px solid #5a5a5a;
                            }
                            &:after {
                                border-radius: 50%;border: 2px solid #5a5a5a;transform: scale(0) !important;
                            }
                        }
                    }
                }
                &:checked {
                    + {
                        label {
                            &:before {
                                border-radius: 50%;border: 2px solid transparent;
                            }
                            &:after {
                                border-radius: 50%;border: 1px solid $primaryColor;border: 4px solid $primaryColor;-webkit-transform: scale(1.02);-moz-transform: scale(1.02);-ms-transform: scale(1.02);-o-transform: scale(1.02);
                            }
                        }
                    }
                }
                + {
                    label {
                        &:after, &:before {
                            position: absolute;z-index: 0;top: 4px;left: 0;width: 16px;height: 16px;content: '';transition: .28s ease !important;
                        }
                    }
                }
            }
            input[type='radio'].with-gap {
                &:checked {
                    + {
                        label {
                            &:before {
                                border-radius: 50%;border: 1px solid $primaryColor;
                            }
                            &:after {
                                border-radius: 50%;border: 1px solid $primaryColor;background-color: $primaryColor;transform: scale(.5) !important;
                            }
                        }
                    }
                }
            }
            .form-check-label.o_form_label {
                &::before {
                    background-color: transparent;
                }
            }
            .form-check-input.o_radio_input {
                &:checked {
                    ~ {
                        .form-check-label.o_form_label {
                            &::after {
                                background-size: 24px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}